/*
Primary colors
    Red: #e4002b
    Dark Grey: #686b6b

Secondary colors
    Grey: #a7a8aa
    Light Blue: #9bd3dd
    Blue: #0093b2
    Dark Blue: #003865

Accent colors
    Dark Red: #a6192e
    Lime: #b5bd00
    Orange: #ff671f
*/

body,
html {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    font-size: 14px;
    background-color: #f7f7f7;
    height: 100%;
}

#hero {
    background-image: url('images/heroimage.jpeg');
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center center;
    height: 83vh;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: left;
    align-items: center;
    padding: 0 20px;
}

#hero-menu {
    padding: 10px 20px;
    min-width: 200px;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, .64);
    background-color: rgba(255, 255, 255, .9);
}

table {
    width: 100%;
    border: 1px solid rgba(0, 0, 0, .24);
}

tr,
td {
    text-align: center;
    padding: 5px;
}

.marker {
    background-color: black;
    cursor: none;
    border: 1px solid #e4002b;
}

.instructions .container h1 {
    font-size: 32px;
    font-weight: 600;
}

.instructions {
    background-color: white;
    color: #000000;
    padding: 15px;
    border-bottom: 2px solid rgb(173, 173, 173);
}

#entryForm {
    margin-top: 14px;
}

#container {
    margin-top: 10px;
}

.container p {
    margin-top: 14px;
}

.message {
    padding: 10px 0;
}

.message p {
    margin-left: 10px;
}

.message:nth-child(odd) {
    background-color: #eeeeee;
}

.message:nth-child(even) {
    background-color: #f8f8f8;
}

.btn-danger {
    margin-left: 10px;
}

.navbar {
    background-color: #333333;
    width: 100%;
    border-radius: 0px;
}

.nav {
    font-size: 15px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li {
    float: left;
}

li a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}


/* Change the link color to #111 (black) on hover */

li a:hover {
    text-decoration: underline;
    color: #eee;
}

.employeeLogin {
    float: right;
    font-size: 10px;
}

.footer {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 1rem;
    background-color: #efefef;
    text-align: center;
}

th {
    text-align: center;
}

.class-0 {
    background-color: #003865;
}

.class-1 {
    background-color: #9bd3dd;
}

.class-2 {
    background-color: #b5bd00;
}

.property-header {
    text-align: left;
    color: #FFFFFF;
    border-bottom: 1px solid rgba(0,0,0,.64);
}

.property {
    padding: 0px;
    min-height: 20px;
    margin-bottom: 20px;
    background-color: #ffffff;
    border: 1px solid #e3e3e3;
    -webkit-box-shadow:  1px 1px 1px rgba(0,0,0,.0.64);
    box-shadow: 1px 1px 1px rgba(0,0,0,.64);
}

#admin {
    padding: 10px 20px;
    border: 2px solid lightgrey;
    min-width: 200px;
    box-shadow: 1px 1px 1px rgba(255, 255, 255, 1);
    background-color: rgba(206, 206, 206, 0.9);
}

#login {
    text-align: center;
}

#header {
    border-bottom: 1px solid rgba(0,0,0,.64);
    background-color: #FFFFFF;
}

  th {
      text-align: center;
  }

  .map-container {
    box-shadow: 1px 1px 1px rgba(0,0,0,.64);
    margin-top: 20px;
    margin-bottom:20px;
  }

  .map-box {
    padding: 0px;
  }

  .map-menu-box {
    border-top: 5px solid #e4002b;
    background-color:white;
    height: 100%;
    min-height: 302px;
    border-left: 1px solid rgba(0,0,0,.34);
  }

#footer {
    border-top: 2px solid lightgray;
}

#emailList tr:nth-child(odd) {
    background-color: whitesmoke;
}

#emailList tr:nth-child(even) {
    background-color: rgb(255, 228, 232);
}

#emailList tr:hover {
    background-color: lightpink;
}

#emailList tr.clicked {
    color: #aaa;
    background-color: #777;
}

.button-cta {
    -webkit-appearance: none;
    background-color: #e4002b;
    color: white;
    padding: 10px;
    width: 100%;
    font-size: 16px;
    border: 1px solid #e4002b;
    box-shadow: 0px 1px 1px rgba(0,0,0,1);
}

.map-static {
    width: 100%;
    max-width: 400px;
}

.building-icon {
    max-width: 100px;
}