/*
Primary colors
    Red: #e4002b
    Dark Grey: #686b6b

Secondary colors
    Grey: #a7a8aa
    Light Blue: #9bd3dd
    Blue: #0093b2
    Dark Blue: #003865

Accent colors
    Dark Red: #a6192e
    Lime: #b5bd00
    Orange: #ff671f
*/

body,
html {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    font-size: 14px;
    height:100%;
}

footer {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    box-shadow: 0px -1px 1px #a7a8aa;
}

.instructions .container h1 {
    font-size: 32px;
    font-weight: 600;
}

.instructions {
    background-color: white;
    color: #DDDDDD;
    padding: 15px;
    border-bottom: 2px solid rgb(173, 173, 173);
}

#entryForm {
    margin-top: 14px;
}

#container {
    margin-top: 10px;
}

.container p {
    margin-top: 14px;
}

.message {
    padding: 10px 0;
}

.message p {
    margin-left: 10px;
}

.message:nth-child(odd) {
    background-color: #eeeeee;
}

.message:nth-child(even) {
    background-color: #f8f8f8;
}

.btn-danger {
    margin-left: 10px;
}

.navbar {
    background-color: #333333;
    width: 100%;
    border-radius: 0px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}


/* Change the link color to #111 (black) on hover */

li a:hover {
    text-decoration: underline;
    color: #eee;
}

footer.ng-scope {
    background-color: lightgrey;
    padding: 0px 10px 5px;
}

.employeeLogin {
    float: right;
    font-size: 10px;
}