<div class="contact-form">
    <h3>Receive Market Rate Information</h3>
    <h6>Complete this form to receive property rates and comparables</h6>
    <div class="form-group" required="true">
        <label for="email">Email Address*</label>
        <input type="text" class="form-control" id="email" ng-model="vm.contactForm.email" placeholder="ex. abc@123.com">
    </div>
    <div class="form-group">
        <label for="address">What is the address of the property you want to compare?</label>
        <input type="text" class="form-control" id="address" ng-model="vm.contactForm.address" placeholder="ex. Address, City, State">
    </div>
    <div class="form-group">
        <label for="size">How many square feet do you want to compare to?</label>
        <input type="text" class="form-control" id="size" ng-model="vm.contactForm.size" placeholder="ex. 5,000">
    </div>
    <div class="form-group">
            <label for="time">What is your time horizon?</label>
            <input type="text" class="form-control" id="time" ng-model="vm.contactForm.time">
        </div>
    <div class="form-group">
        <label for="phone">Phone Number</label>
        <input type="text" class="form-control" id="phone" ng-model="vm.contactForm.phone">
    </div>
    <div class="form-group">
            <label for="notes">Tell us more about what you're looking for...</label>
            <textarea class="form-control" rows=3 cols=50 maxlength=250 id="notes" ng-model="vm.contactForm.notes"></textarea>
        </div>
    <button class="button-cta" ng-click="vm.postComment()">Request More Info</button>
</div>