<div class="navbar" ng-controller="NavController as nc">
    <div class="container">
        <ul>
            <li>
                <a href="#/home">Home</a>
            </li>
            <li>
                <a href="#/market">Market Page</a>
            </li>
            <li>
                <a href="#/admin" ng-show="nc.user.userObject.userName">User Home</a>
            </li>
            <li>
                <a href="#/office" ng-show="nc.user.userObject.userName">Create Office</a>
            </li>
            <li>
                <a href="#/email-upload" ng-show="nc.user.userObject.userName">Upload Email</a>
            </li>
            <li>
                <a href="#/email-history" ng-show="nc.user.userObject.userName">Email History</a>
            </li>
        </ul>
    </div>
</div>