<div class="navbar" ng-controller="NavController as nc">
    <div class="container">
        <ul>
            <li>
                <a href="#/home">Home</a>
            </li>
            <li>
                <a href="#/market">Market Page</a>
            </li>
            <li>
                <a href="#/admin" ng-if="nc.user.userObject.role === 'admin'||nc.user.userObject.role === 'owner'">Users</a>
            </li>
            <li>
                <a href="#/office" ng-if="nc.user.userObject.role === 'owner'">Offices</a>
            </li>
            <li>
                <a href="#/email-upload" ng-if="nc.user.userObject.userName">Upload Email</a>
            </li>
            <li>
                <a href="#/email-history" ng-if="nc.user.userObject.userName">Email History</a>
            </li>
        </ul>
    </div>
</div>