<div class="container">
    <div class="nav" ng-controller="NavController as nc">
        <ul>
            <li>
                <a href="#/admin" ng-if="nc.user.userObject.role === 'admin'||nc.user.userObject.role === 'owner'">Users</a>
            </li>
            <li>
                <a href="#/office" ng-if="nc.user.userObject.role === 'owner'">Offices</a>
            </li>
            <li>
                <a href="#/data-upload" ng-if="nc.user.userObject.role === 'admin'||nc.user.userObject.role === 'owner'">Upload Market Data</a>
            </li>
            <li>
                <a href="#/email-upload" ng-if="nc.user.userObject.userName">Upload Emails</a>
            </li>
            <li>
                <a href="#/email-history" ng-if="nc.user.userObject.userName">Email History</a>
            </li>
            <li>
                <a href="#/email-clickthroughs" ng-if="nc.user.userObject.userName">Email Clickthroughs</a>
            </li>
            <li>
                <a href="#/messages" ng-if="nc.user.userObject.role === 'owner'">Messages</a>
            </li>
            <li>
                <a href="" ng-if="nc.user.userObject.userName" ng-click="nc.logout()">Logout</a>
            </li>
        </ul>
    </div>
</div>