<div class="container footer-adjustment">
        <h1 class="lead">Email Upload History</h1>
            <table class="table-bordered styled-table">
                <tr>
                    <th>#</th>
                    <th>Date Uploaded</th>
                    <th>Office</th>
                    <th>Link</th>
                    <th>Delete</th>
                </tr>
                <tbody>
                    <tr ng-repeat="batch in vm.data.batches">
                        <td>{{batch.batch_id}}</td>
                        <td>{{batch.date}}</td>
                        <td>{{batch.office}}</td>
                        <td><a ng-click="vm.getBatchEmails(batch.batch_id)" href="/#/email-list">View Email List</a></td>
                        <td><button class="btn btn-danger" ng-click="vm.deleteEmailBatch(batch)">Delete</button></td>
                    </tr>
                </tbody>
            </table>       
    </div>