<div class="container">
    <h1 class="lead">Upload Email Contacts</h1>
    <span class="glyphicon glyphicon-file"></span><a href="">Download Email CSV Template</a>
    <form ng-submit="vm.emailUpload()" class="cleanFooter">
        <div nv-file-drop="" uploader="vm.uploader" class="uploadFile">
            <label for="officeName">Upload CSV</label>
            <input type="file" name="emailCSV" nv-file-select options="vm.uploaderOptions" uploader="vm.uploader" accept=".csv"/>
        </div>
            <input class="btn btn-default redBtn" type="submit" name="submit" value="Submit Email CSV" />
        </div>
    </form>
</div>