<div class="container">
    <h1 class="lead">Email List</h1>
    <table>
        <thead>
            <tr>
                <th>First</th>
                <th>Last</th>
                <th>Email</th>
                <th>Mail-to Link</th>
                <th>Email Sent?</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="contact in vm.es.data.contacts">
                <td>{{contact.first}}</td>
                <td>{{contact.name}}</td>
                <td>{{contact.email}}</td>
                <td>
                    <a ng-href={{vm.emailTemplate(contact)}}>Email</a>
                </td>
                <td></td>
            </tr>
        </tbody>
    </table>
</div>