<div class="container-fluid">
    <div class="row">
        <div id="hero" class="col-md-12">
            <div id="hero-menu" class="col-md-4 col-md-offset-4">
                <h1>Office Market Reports</h1>
                <h3>State</h3>
                <select class="form-control" name="state" id="stateDropdown" placeholder="State" ng-model="vm.state" ng-change="vm.getMarkets(vm.state)">
                    <option ng-repeat="item in vm.data.states" value="{{item.State}}">{{item.State}}</option>
                </select>
                <h3>Market</h3>
                <select class="form-control" name="market" id="marketDropdown" placeholder="Market" ng-model="vm.market" ng-disabled="!vm.state">
                    <option ng-repeat="item in vm.data.markets" value="{{item.Submarket}}">{{item.Submarket}}</option>
                </select>
                <br>
                <button class="button-cta" ng-click="vm.click(vm.state, vm.market)" ng-disabled="!vm.market">View Market</button>
            </div>
        </div>
    </div>
</div>