<div class="row">
    <div id="hero"class="col-md-12">
        <div id="hero-menu" class="col-md-4 col-md-offset-4">
            <h1>View Market Snapshot Reports</h1>
            <h3>State</h3>
            <select class="form-control" name="state" id="stateDropdown" placeholder="State" ng-model="vm.state" ng-change="vm.getMarkets(vm.state)">
                <option ng-repeat="item in vm.data.states" value="{{item.State}}">{{item.State}}</option>
            </select>
            <h3>Market</h3>            
            <select class="form-control" name="market" id="marketDropdown" placeholder="Market" ng-model="vm.market" ng-disabled="!vm.state">
                <option ng-repeat="item in vm.data.markets" value="{{item.Submarket}}">{{item.Submarket}}</option>
            </select>
            <br>
            <button class="button-cta" ng-click="vm.click(vm.state, vm.market)" ng-disabled="!vm.market">View Market</button>
        </div>
    </div>
   <!-- <div> -->
        <!-- Begin MailChimp Signup Form
        <link href="//cdn-images.mailchimp.com/embedcode/slim-10_7.css" rel="stylesheet" type="text/css">
        <style type="text/css">
            #mc_embed_signup {
                background: #fff;
                clear: left;
                font: 14px Helvetica, Arial, sans-serif;
                width: 400px;
            }

            Add your own MailChimp form style overrides in your site stylesheet or in this style block.
	   We recommend moving this block and the preceding CSS link to the HEAD of your HTML file.
        </style> -->
        <!-- <div id="mc_embed_signup">
            <form action="https://facebook.us17.list-manage.com/subscribe/post?u=eb35150d92904da6a2eead60a&amp;id=2f5c32e273" method="post"
                id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
                <div id="mc_embed_signup_scroll">
                    <label for="mce-EMAIL">Full access to Quarterly Market Trends report</label>
                    <input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="email address" required> -->
                    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                    <!-- <div style="position: absolute; left: -5000px;" aria-hidden="true">
                        <input type="text" name="b_eb35150d92904da6a2eead60a_2f5c32e273" tabindex="-1" value="">
                    </div>
                    <div class="clear"> 
                        <input style="background-color: rgb(225, 62, 62)" type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button">
                    </div>
                </div>
            </form>
        </div> -->

        <!--End mc_embed_signup-->
    <!-- </div> -->
</div>
</div>