<div class="container">
    <div>
        <div style="display:inline-block">
            <select name="market" id="marketDropdown" placeholder="Market" ng-model="vm.options.market">
                    <option ng-repeat="item in vm.marketData.markets" value="{{item.Submarket}}">{{item.Submarket}}</option>
                </select>
        </div>

        <button ng-click="vm.searchData(vm.options)">Search</button>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="btn col-md-4 col-xs-4 well propertyClass" ng-repeat="item in vm.marketData.data">
                <div style="text-align: center; font-size: 40px;">
                    <strong style="font-weight: 300;">{{item.Class}}</strong>
                </div>
                <div class="" style="text-align: center;">
                    # of Buildings<br>
                    <strong style="font-size: 30px;">{{item.Total_Buildings}}</strong>
                </div>
                <div class="" style="text-align: center;">
                        Average Rate<br>
                        <strong style="font-size: 30px">{{item.Avg_Rate}}</strong>
                    </div>
            </div> 
        </div>
    </div>

    <div layout="row">
        <div flex map-lazy-load="https://maps.google.com/maps/api/js" map-lazy-load-params="{{vm.googleMapsUrl}}">
            <ng-map center="44.9778,-93.2650" zoom="10" map-type-id="MapTypeId.ROADMAP">
                    <marker ng-repeat="item in vm.marketData.properties track by item.id" position="[{{item.X}},{{item.Y}}]" icon="{{item.marker}}"  on-click="vm.click(item)"></marker>
            </ng-map>
        </div>
    </div>
    <div layout="row">
            <table class="table-bordered">
                <tr>
                    <th>Class</th>
                    <th>Total # of Buildings</th>
                    <th>NRA</th>
                    <th>Vacant Space</th>
                    <th>Sublease Space</th>
                    <th>Percent Vacant</th>
                    <th>% Vacant w/Sublease</th>
                    <th>Absorption</th>
                    <th>Avg Rate</th>
                    <th>Total OE & T</th>
                </tr>
                <tr ng-repeat="item in vm.marketData.data" style="font-weight: 300;">
                    <td>{{item.Class}}</td>
                    <td>{{item.Total_Buildings}}</td>
                    <td>{{item.NRA}}</td>
                    <td>{{item.Vacant_Space}}</td>
                    <td>{{item.Sublease_Space}}</td>
                    <td>{{item.Percent_Vacant}}</td>
                    <td>{{item.Percent_Vacant_With_Sublease}}</td>
                    <td>{{item.Absorption}}</td>
                    <td>{{item.Avg_Rate}}</td>
                    <td>{{item.OE_T}}</td>
                </tr>
            </table>
        </div>
    <div class="row" style="text-align: center;">
        <div class="col-md-12">
        <div class="col-md-4">
            <h3>Inventory Chart</h3>
            <canvas id="inventoryChart"></canvas>
        </div>
        <div class="col-md-4">
            <h3>Absorption Chart</h3>
            <canvas id="absorptionChart"></canvas>
        </div>
        <div class="col-md-4">
            <h3>Vacancy Chart</h3>
            <canvas id="vacancyChart"></canvas>
        </div>
    </div>
    </div>
</div>