<div class="container">
    <button class="btn btn-default redBtn" onclick="location.href='#/office-modify'">Create Office</button>
        <div class="cleanFooter">
            <h2>List of existing offices</h2>
            <table class="table-bordered">
                <thead>
                    <tr>
                    <th>#</th>
                    <th>Office Location</th>
                    <th>Edit</th>
                    <th>Delete</th>
                    <tr></tr>
                </thead>
                <tbody>
                    <tr ng-repeat="office in vm.offices.offices">
                        <td>{{$index + 1}}</td>
                        <td>{{office.office}}</td>
                        <td><button ng-click="vm.editOffice(office)">Edit</button></td>
                        <td><button ng-click="vm.deleteOffice(office)">Delete</button></td>
                    </tr>
                </tbody>
            </table>
        </div>
</div>
